{% extends 'service/base.html' %}
{% block content %}
{% load image_output %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - рассылки для людей</p>
    {% if user.is_authenticated %}
    <a class="p-2 btn btn-outline-primary" href="/clients/create/">Создать клиента</a>
    {% endif %}
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        {% if user.is_superuser or user == object.creator %}
        <div class="col-3">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.comment|slice:100 }}</li>
                        <li>{{ object.email }}</li>
                    </ul>
                    <div class="btn-group">
                        <a class="p-2 btn btn-outline-primary" href="/clients/{{ object.pk }}/">Подробнее</a>
                        <a class="p-2 btn btn-outline-primary" href="/clients/update/{{ object.pk }}/">Изменить</a>
                        <a class="p-2 btn btn-outline-primary" href="/clients/delete/{{ object.pk }}/">Удалить</a>
                    </div>
                </div>

            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}