{% extends 'service/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - рассылки для людей</p>
    {% if user.is_authenticated %}
    <a class="p-2 btn btn-outline-primary" href="/mailings/create/">Создать рассылку</a>
    {% endif %}
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        {% if user.is_superuser or user == object.creator or perm.service.can_view_all_mailings %}
        <div class="col-3">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Первая отправка: {{ object.first_sent_at }}</li>
                        <li>Частота: {{ object.frequency }}</li>
                        <li>Сообщение:{{ object.message_to_send }}</li>
                        <li>Клиентов: {{ object.client_list.all.count }}</li>
                    </ul>
                    <div class="btn-group">
                        <a class="p-2 btn btn-outline-primary" href="/mailings/{{ object.pk }}/">Подробнее</a>
                        {% if user.is_superuser or user == object.creator or perm.service.can_change_status %}
                        <a class="p-2 btn btn-outline-primary" href="/mailings/update/{{ object.pk }}/">Изменить</a>
                        {% if user.is_superuser or user == object.creator %}
                        <a class="p-2 btn btn-outline-primary" href="/mailings/delete/{{ object.pk }}/">Удалить</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}